{% extends "base.html" %}
{% load static %}


{% block content %}

{% include 'nav_category.html' %}

{% for category in categories %}
{% if category.products.count > 0 %}

<section class="product-list pt-90 pb-90">
    <div class="container">
        <div class="row">
            <div class="col-md-12 wow fadeInUp animated animated" data-wow-delay="400ms" data-wow-duration="900ms" style="visibility: visible; animation-duration: 900ms; animation-delay: 400ms;">
                <div class="heading-con text-center">
                    <a href="{% url 'products-list' category.id %}">
                        <h2>{{ category.name }}</h2>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="products-container">
                <ul class="products-grid">
                    {% for product in category.products.all %}
                    <li class="entry">
                        <div class="product-inner">
                            <ul class="product-entry-list">
                                <li class="product-image-wrapper">
                                    <div class="product-image">
                                        <a href="{{ product.variants.first.get_absolute_url }}">
                                            {% if product.image %}
                                            <img src="{{ product.image.url }}" alt="image">
                                            {% else %}
                                            <img src="#" alt="image">
                                            {% endif %}
                                        </a>
                                    </div>
                                    <div class="actions">
                                        <div class="btn-inner btn-add-to-cart">
                                            <a href="#" class="add-to-cart"></a>
                                            <div class="tooltip for-add-to-cart">
                                                Thêm vào giỏ hàng
                                            </div>
                                        </div>
                                        <div class="btn-inner btn-read-more">
                                            <a href="{{ product.variants.first.get_absolute_url }}" class="read-more" title="Read More">Xem chi tiết</a>
                                            <div class="tooltip for-read-more">
                                                Xem chi tiết sản phẩm
                                            </div>
                                        </div>
                                        <div class="btn-inner btn-wishlist">
                                            {% for activity in product.variants.first.activities.all %}
                                            {% if activity.type == 'wishlist' %}
                                            {% if activity.object_id == product.variants.first.id and activity.user == user %}
                                            <a href="{% url 'un_wishlist' id=product.variants.first.id %}" class="wishlist-active"></a>
                                            <div class="tooltip for-wishlist">
                                                Bỏ yêu thích
                                            </div>
                                            {% elif activity not in user.activities.all and forloop.revcounter == 1 %}
                                            <a href="{% url 'add_wishlist' id=product.variants.first.id %}" class="wishlist"></a>
                                            <div class="tooltip for-wishlist">
                                                Thêm vào yêu thích
                                            </div>
                                            {% endif %}
                                            {% endif %}
                                            {% endfor %}
                                            {% if product.variants.exists and not product.variants.first.activities.exists %}
                                            <a href="{% url 'add_wishlist' id=product.variants.first.id %}" class="wishlist"></a>
                                            <div class="tooltip for-wishlist">
                                                Thêm vào yêu thích
                                            </div>
                                            {% endif %}

                                        </div>
                                    </div>
                                </li> 
                                <li class="product-title">
                                    <a href="{{ product.variants.first.get_absolute_url }}">{{ product.name|truncatewords:8 }}</a>
                                </li>
                                <li class="product-description">
                                    <p>{{ product.variants.first.description|truncatewords:10 }}</p>
                                </li>
                                <li class="product-price">
                                    <span class="price" id="price-format">{{ product.variants.first.price }} VND</span>
                                    <div class="unit-sold">
                                        <span>
                                            Đã bán {{ product.variants.first.unit_sold }} sản phẩm {{ activities.type }}
                                        </span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>

{% endif %}

{% endfor %}

{% endblock %}