{% extends "base.html" %}


{% block content %}

<section class="section-wellcome pt-90 pb-90 wow fadeInUp animated animated" data-wow-delay="250ms"
data-wow-duration="500ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 250ms;">
<div class="container">
  <div class="row">
    <div class="col-lg-5">
      <div class="section-wellcome-text pt-90 pb-90 wow fadeInUp animated animated" data-wow-delay="250ms"
        data-wow-duration="500ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 250ms;">
        <div class="container">
          <h1>Chào mừng các phật tử</h1>
          <p>Chúng tôi kinh doanh các mặt hàng phật pháp</p>
          <div class="home-btn">
            <a href="{% url 'category' %}">Cửa hàng</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-core-vison pt-90 pb-90 wow fadeInUp animated animated" data-wow-delay="250ms"
data-wow-duration="500ms">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="heading-con text-center">
        <h2>TẦM NHÌN VÀ SỨ MỆNH</h2>
        <p>
          Với mong muốn được truyền bá rộng rải phật pháp đến nhiều người thông qua việc viết chép kinh qua những mặt hàng vở chép của chúng tôi, giúp bạn tìm thấy bản thân
          <br> Ngoài ra chúng tôi còn kinh doanh các mặt hàng phong thủy phù hợp với mọi gia đình
        </p>
      </div>
    </div>
  </div>

  <div class="row pt-30">
    <div class="col-lg-6">
      <div class="vision-imgwow fadeInRight" data-wow-delay="250ms" data-wow-duration="500ms"
        style="visibility: visible; animation-duration: 1200ms; animation-delay: 0ms;">
      </div>
    </div>
    <div class="col-lg-6">
      <div class="core-body wow fadeInLeft animated animated" data-wow-delay="250ms" data-wow-duration="500ms"
        style="visibility: visible; animation-duration: 500ms; animation-delay: 250ms;">
        <div class="lotus">
          <div class="lotus-img">
            <img src="https://buddhist-html.wrmlabs.com/images/Ellipse1.png" alt="">
          </div>
          <div class="lotus-text">
            <h4>Sách kinh phật</h4>
            <p>
              Đa dạng các loại sách kinh khác nhau về nội dung lẫn phân loại thích hợp cho các phật tử gieo duyên
            </p>
          </div>
        </div>
        <div class="lotus">
          <div class="lotus-img">
            <img src="	https://buddhist-html.wrmlabs.com/images/Ellipse11.png" alt="">
          </div>
          <div class="lotus-text">
            <h4>Vở chép kinh phật</h4>
            <p>
              Các phật tử có thể tìm thấy đa dạng các vở chép kinh giúp bản thân giác ngộ trên con đường tu hành của mình
            </p>
          </div>
        </div>
        <div class="lotus">
          <div class="lotus-img">
            <img src="https://buddhist-html.wrmlabs.com/images/Ellipse21.png" alt="">
          </div>
          <div class="lotus-text">
            <h4>Vật phẩm phong thủy</h4>
            <p>
              Đa dạng mẫu mã phù hợp với mệnh tuổi ngoài ra chúng tôi có đội ngũ tư vấn cũng như hướng dẫn người mua cách xử dụng bài trí.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="home-quote pt-60 pb-60 wow fadeInUp animated animated" data-wow-delay="250ms"
data-wow-duration="500ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 250ms;">
<div class="container">
  <div class="row">
    <div class="col-sm-6">
    </div>
    <div class="col-sm-6">
      <div class="quote-text">
        <p>
          Làm việc thiện không nhất thiết cần tiền. Tặng Kinh Phật khuyên người khác tu tập niệm phật chép kinh cũng mang lại nhiều công đức.
        </p>
        <span>-- HIS HOLINESS the <br>DALAI LAMA</span>
      </div>
    </div>
  </div>
</div>
</section>

<section class="we-offer pt-90 pb-90 wow fadeInUp animated animated animated animated" data-wow-delay="250ms" data-wow-duration="500ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 250ms;">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="heading-con text-center">
        <h2>Chúng tôi cung cấp</h2>
        <p> Chúng tôi cung cấp các mặt hàng phật pháp, phong thủy phù hợp với mọi gia đình. <br> Ngoài ra chúng tôi còn cung cấp các dịch vụ như tư vấn, hướng dẫn cách sử dụng bài trí vật phẩm phong thủy.</p>
          <br> 
        <p></p>
      </div>
    </div>
  </div>
  <div class="row pt-30">
    <div class="col-sm-3 wow fadeInRight animated animated animated animated" data-wow-delay="250ms" data-wow-duration="500ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 250ms;">
      <div class="art">
        <div class="offer-content">
          <h4>Phong Thủy</h4>
          <p>Đa dạng sản phẩm phong thủy cóc thềm thừ, tỳ hưu,... đa dạng mẫu mã phù hợp với mệnh của từng khách hàng</p>
        </div>
        <div class="offer-content">
          <h4>Sách &amp; Vở chép kinh</h4>
          <p>Cung cấp cho các phật tử sản phẩm gieo duyên hoặc tu tập trong thế giới phật pháp</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 wow fadeInUp animated animated animated animated" data-wow-delay="250ms" data-wow-duration="500ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 250ms;">
      <div class="offer-img">
        <img src="https://buddhist-html.wrmlabs.com/images/pexels.png" alt="">
      </div>
    </div>
    <div class="col-sm-3 wow fadeInLeft animated animated animated animated" data-wow-delay="250ms" data-wow-duration="500ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 250ms;">
      <div class="art">

        <div class="offer-content">
          <h4>Vật phẩm thờ cúng</h4>
          <p>Chúng tôi cung cấp các vật phẩm thờ cúng như ông địa thần tài, tượng thời cúng Phật Giáo</p>
        </div>
        <div class="offer-content">
          <h4>Nhiều hơn</h4>
          <p>Ngoài những sản phẩm trên chúng tôi còn cung cấp các sản phẩm khác như bột/nhang tẩy uế nơi làm việc nhà ở, áo lam,... giúp khách có nhiều lựa chọn.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

<section class="latest pb-90 pt-90 wow fadeInUp animated animated" data-wow-delay="250ms" data-wow-duration="500ms"
style="visibility: visible; animation-duration: 500ms; animation-delay: 250ms;">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="heading-con text-center">
        <h2> Tin tức &amp; Bài viết mới nhất</h2>
        <p>
          Các bài viết mới nhất về phật pháp, phong thủy, tâm linh, văn hóa, xã hội, giáo dục, khoa học, kinh doanh, công nghệ, thể thao, giải trí, sức khỏe, đời sống, du lịch, ẩm thực, thời trang, làm đẹp, cùng nhiều chủ đề khác.
        </p>
      </div>
    </div>
  </div>
  <div class="row pt-30">
    <div class="col-md-12 pd-0">
      <div class="latest-news-blogs">
        <div class="owl-carousel owl-theme owl-loaded owl-drag" id="demoslide2">
          <div class="owl-stage-outer">
            <div class="owl-stage"
              style="transform: translate3d(-1553px, 0px, 0px); transition: all 0.25s ease 0s; width: 3495px;">

              <div class="owl-item active" style="width: 363.333px; margin-right: 25px;">
                <div class="item">
                  <div class="latest-content">
                    <div class="latest-img">
                      <a href="events.html"><img src="https://buddhist-html.wrmlabs.com/images/Rectangle15.png"
                          alt=""></a>
                    </div>
                    <div class="latest-text">
                      <span>Wed, April 12, 2022 / Whole Day</span>
                      <h6><a href="events.html">Great Lotus Birthday Celebration</a></h6>
                      <p>Integer laoreet risus non risus tempor congue. Aliquam erat volutpat. Mauris eu nisl quis
                        mi ultrices dictum sed quis ante........</p>
                      <a href="events.html" class="latest-btn">Read More</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="owl-item active" style="width: 363.333px; margin-right: 25px;">
                <div class="item">
                  <div class="latest-content">
                    <div class="latest-img">
                      <a href="events.html"><img src="https://buddhist-html.wrmlabs.com/images/Rectangle114.png"
                          alt=""></a>
                    </div>
                    <div class="latest-text">
                      <span>Wed, April 12, 2022 / Whole Day</span>
                      <h6><a href="events.html">Buddha’s Birthday Celebration</a></h6>
                      <p>Integer laoreet risus non risus tempor congue. Aliquam erat volutpat. Mauris eu nisl quis
                        mi ultrices dictum sed quis ante........</p>
                      <a href="events.html" class="latest-btn">Read More</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="owl-item active" style="width: 363.333px; margin-right: 25px;">
                <div class="item">
                  <div class="latest-content">
                    <div class="latest-img">
                      <a href="events.html"><img src="https://buddhist-html.wrmlabs.com/images/Rectangle114.png"
                          alt=""></a>
                    </div>
                    <div class="latest-text">
                      <span>Wed, April 12, 2022 / Whole Day</span>
                      <h6><a href="events.html">Buddha’s Birthday Celebration</a></h6>
                      <p>Integer laoreet risus non risus tempor congue. Aliquam erat volutpat. Mauris eu nisl quis
                        mi ultrices dictum sed quis ante........</p>
                      <a href="events.html" class="latest-btn">Read More</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="owl-item cloned active" style="width: 363.333px; margin-right: 25px;">
                <div class="item">
                  <div class="latest-content">
                    <div class="latest-img">
                      <a href="events.html"><img src="https://buddhist-html.wrmlabs.com/images/Rectangle14.png"
                          alt=""></a>
                    </div>
                    <div class="latest-text">
                      <span>Wed, April 12, 2022 / Whole Day</span>
                      <h6><a href="events.html">Dharma Name Conferment Ceremony</a></h6>
                      <p>Integer laoreet risus non risus tempor congue. Aliquam erat volutpat. Mauris eu nisl quis
                        mi ultrices dictum sed quis ante........</p>
                      <a href="events.html" class="latest-btn">Read More</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
    
{% endblock %}
    
