<div class="content mb-20">
    <!-- Change password -->
    <div class="change-password">
        <div class="row">
            <div class="col-md-6">
                <form id="change-password-form" action="" method="POST" name="change-password-form">
                    {% csrf_token %}
                    <div class="form-group mb-20">
                        <label for="old_password">Old Password</label>
                        <input type="password" class="form-control" id="old_password" name="old_password">
                    </div>
                    <div class="form-group mb-20">
                        <label for="new_password1">New Password</label>
                        <input type="password" class="form-control" id="new_password1" name="new_password1">
                    </div>
                    <div class="form-group mb-20">
                        <label for="new_password2">Confirm New Password</label>
                        <input type="password" class="form-control" id="new_password2" name="new_password2">
                    </div>
                    <div class="form-group mb-20">
                        <button class="btn btn-primary" id="change-password">Change Password</button>
                        <button class="btn btn-danger" id="cancel-password" style="display: none;">Cancel</button>
                        <button class="btn btn-success" id="save-password" style="display: none;">Save Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>