<div class="notification">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="notification-content">
                    <h2>Thông báo</h2>
                    <p> Khach hang {{ name }} vua gui yeu cau lien he toi chung toi. </p>
                    <p> Thong tin lien he cua khach hang la: </p>
                    <div class="contact-content">
                        <h3>Điện thoại</h3>
                        <div class="contact-img">
                            <img src="/static/images/phone.png" alt="">
                        </div>
                        <p>{{ phone }}</p>
                    </div>
                    <div class="contact-content">
                        <h3>Email</h3>
                        <div class="contact-img">
                            <img src="/static/images/mail.png" alt="">
                        </div>
                        <p>{{ email }}</p>
                    </div>
                    <div class="contact-content">
                        <h3>Nội dung</h3>
                        <div class="contact-img">
                            <img src="/static/images/mail.png" alt="">
                        </div>
                        <p>{{ message }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

