

<div class="contact-header">
    <div class="thank-you">
        <h2>Cảm ơn {{ name }} đã liên hệ với chúng tôi</h2>
        <p>Chúng tôi sẽ phản hồi lại bạn trong thời gian sớm nhất</p>
    </div>
    <div class="cofirm-information-contact">
        <h2>Thông tin liên hệ</h2>
        <p>
            Chúng tôi đã xác nhận thông tin bạn để lại như sau:
        </p>
        <div class="contact-content">
            <h3>Điện thoại</h3>
            <div class="contact-img">
                <img src="/static/images/phone.png" alt="">
            </div>
            <p>{{ phone }}</p>
        </div>
        <div class="contact-content">
            <h3>Email</h3>
            <div class="contact-img">
                <img src="/static/images/mail.png" alt="">
            </div>
            <p>{{ email }}</p>
        </div>
    </div>
</div>