{% extends 'base.html' %}
{% load static %}


{% block content %}
<section class="section-dashboard-head tab-list-right pt-90 pb-90 wow fadeInUp animated animated" data-wow-delay="250ms" data-wow-duration="500ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 250ms;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="banner-head text-center">
                    <h2>Customer Account</h2>
                    <h4><a href="{% url 'home' %}"><span>Home <i class="fa fa-angle-right"></i></span></a> {{ url|title }}</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-dashboard pt-90 pb-90 wow fadeInUp animated animated" data-wow-delay="250ms" data-wow-duration="500ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 250ms;">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="dashboard-sidebar card">
                    <div class="header text-center pt-20 pb-20">
                        <h4>Welcome, {{ user.username }}</h4>
                    </div>
                    <div class="list-group">
                        <a href="{% url 'profile' %}" class="list-group-item list-group-item-action">
                            <i class="fa fa-user"></i> Profile
                        </a>
                        <a href="" class="list-group-item list-group-item-action">
                            <i class="fa fa-shopping-cart"></i> Orders
                        </a>
                        <!-- Wishlist -->
                        <a href="{% url 'wishlist' %}" class="list-group-item list-group-item-action">
                            <i class="fa fa-heart"></i> Wishlist
                        </a>
                        <!-- Wallet -->
                        <a href="{% url 'wallet' %}" class="list-group-item list-group-item-action">
                            <i class='fa fa-wallet'></i> Wallet
                        </a>
                        <!-- Address -->
                        <a href="{% url 'address' %}" class="list-group-item list-group-item-action">
                            <i class="fa fa-map-marker"></i> Address
                        </a>
                        <!-- Account -->
                        <a href="{% url 'account' %}" class="list-group-item list-group-item-action">
                            <i class="fa fa-cog"></i> Account
                        </a>
                        <!-- Logout -->
                        <a href="" class="list-group-item list-group-item-action text-danger">
                            <i class="fa fa-sign-out"></i> Logout
                        </a>
                    </div>
                    <div class="footer text-center pt-20 pb-20">
                        <p>© 2021 <a href="">Ecommerce</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="dashboard-content">
                    {% if 'profile' in request.path %}
                    {% include 'users/profile.html' %}
                    {% elif 'address' in request.path %}
                    {% include 'users/address.html' %}
                    {% elif 'account' in request.path %}
                    {% include 'users/account.html' %}
                    {% elif 'wishlist' in request.path %}
                    {% include 'users/wishlist.html' %}
                    {% elif 'wallet' in request.path %}
                    {% include 'wallet/wallet.html' %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>        
</section>

{% endblock %}

