
/* 1. Theme default css */



@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Raleway:wght@100;400&display=swap');


body {
font-family: 'Jost', sans-serif;
font-family: 'Dancing Script', cursive;
font-family: 'Raleway', sans-serif;
}

/*--------------------------------------------------------------
 * Preloader CSS MS
 *--------------------------------------------------------------
 */

.wp-smart-loader {
    text-indent: -12345px;
}

/*--------------------------------------------------------------
 * Preloader One
 *--------------------------------------------------------------
 */

.smart-loader-one {
    width: 50px;
    height: 50px;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    border-right: 1px solid rgba(0, 0, 0, 0.08);
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    border-left: 1px solid rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    -webkit-animation: spinner 700ms infinite linear;
    -moz-animation: spinner 700ms infinite linear;
    -ms-animation: spinner 700ms infinite linear;
    -o-animation: spinner 700ms infinite linear;
    animation: spinner 700ms infinite linear;
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/*--------------------------------------------------------------
 * Preloader Two
 *--------------------------------------------------------------
 */

.smart-loader-two {
    position: relative;
    width: 80px;
    height: 80px;
    -webkit-animation: spinner 5s infinite linear;
    animation: spinner 5s infinite linear;
}

    .smart-loader-two span {
        width: 40px;
        height: 40px;
        position: absolute;
        background: red;
        display: block;
        -webkit-animation: spinner-two 1s infinite linear;
        animation: spinner-two 1s infinite linear;
    }

        .smart-loader-two span:nth-child(1) {
            background: #2ecc71;
        }

        .smart-loader-two span:nth-child(2) {
            left: 44px;
            background: #9b59b6;
            -webkit-animation-delay: .2s;
            animation-delay: .2s;
        }

        .smart-loader-two span:nth-child(3) {
            top: 44px;
            background: #3498db;
            -webkit-animation-delay: .4s;
            animation-delay: .4s;
        }

        .smart-loader-two span:nth-child(4) {
            top: 44px;
            left: 44px;
            background: #f1c40f;
            -webkit-animation-delay: .6s;
            animation-delay: .6s;
        }

@-webkit-keyframes spinner-two {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes spinner-two {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}

/*--------------------------------------------------------------
 * Preloader Three
 *--------------------------------------------------------------
 */

.smart-loader-three {
    position: relative;
}

    .smart-loader-three span {
        display: block;
        bottom: 0px;
        width: 9px;
        height: 5px;
        background: #9b59b6;
        position: absolute;
        -webkit-animation: spinner-three 1.5s infinite ease-in-out;
        animation: spinner-three 1.5s infinite ease-in-out;
    }

        .smart-loader-three span:nth-child(2) {
            left: 11px;
            -webkit-animation-delay: .2s;
            animation-delay: .2s;
        }

        .smart-loader-three span:nth-child(3) {
            left: 22px;
            -webkit-animation-delay: .4s;
            animation-delay: .4s;
        }

        .smart-loader-three span:nth-child(4) {
            left: 33px;
            -webkit-animation-delay: .6s;
            animation-delay: .6s;
        }

        .smart-loader-three span:nth-child(5) {
            left: 44px;
            -webkit-animation-delay: .8s;
            animation-delay: .8s;
        }

@-webkit-keyframes spinner-three {
    0% {
        height: 5px;
        transform: translateY(0px);
        background: #9b59b6;
    }

    25% {
        height: 30px;
        transform: translateY(15px);
        background: #3498db;
    }

    50% {
        height: 5px;
        transform: translateY(0px);
        background: #9b59b6;
    }

    100% {
        height: 5px;
        transform: translateY(0px);
        background: #9b59b6;
    }
}

@keyframes spinner-three {
    0% {
        height: 5px;
        transform: translateY(0px);
        background: #9b59b6;
    }

    25% {
        height: 30px;
        transform: translateY(15px);
        background: #3498db;
    }

    50% {
        height: 5px;
        transform: translateY(0px);
        background: #9b59b6;
    }

    100% {
        height: 5px;
        transform: translateY(0px);
        background: #9b59b6;
    }
}

/*--------------------------------------------------------------
 * Preloader Four
 *--------------------------------------------------------------
 */

.smart-loader-four {
    width: 80px;
    height: 80px;
}

    .smart-loader-four .spinner-cube {
        width: 33%;
        height: 33%;
        background-color: #9b59b6;
        float: left;
        -webkit-animation: spinner-four 1.3s infinite ease-in-out;
        animation: spinner-four 1.3s infinite ease-in-out;
    }

    .smart-loader-four .spinner-cube1 {
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s;
    }

    .smart-loader-four .spinner-cube2 {
        -webkit-animation-delay: 0.3s;
        animation-delay: 0.3s;
    }

    .smart-loader-four .spinner-cube3 {
        -webkit-animation-delay: 0.4s;
        animation-delay: 0.4s;
    }

    .smart-loader-four .spinner-cube4 {
        -webkit-animation-delay: 0.1s;
        animation-delay: 0.1s;
    }

    .smart-loader-four .spinner-cube5 {
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s;
    }

    .smart-loader-four .spinner-cube6 {
        -webkit-animation-delay: 0.3s;
        animation-delay: 0.3s;
    }

    .smart-loader-four .spinner-cube7 {
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
    }

    .smart-loader-four .spinner-cube8 {
        -webkit-animation-delay: 0.1s;
        animation-delay: 0.1s;
    }

    .smart-loader-four .spinner-cube9 {
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s;
    }

@-webkit-keyframes spinner-four {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }

    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

@keyframes spinner-four {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }

    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

/*--------------------------------------------------------------
 * Preloader Five
 *--------------------------------------------------------------
 */

.smart-loader-five {
    width: 80px;
    height: 80px;
    position: relative;
}

    .smart-loader-five .spinner-cube {
        border: 2px solid transparent;
        float: left;
        width: 50%;
        height: 50%;
        position: relative;
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
    }

        .smart-loader-five .spinner-cube:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #9b59b6;
            -webkit-animation: spinner-five 2.4s infinite linear both;
            animation: spinner-five 2.4s infinite linear both;
            -webkit-transform-origin: 100% 100%;
            -ms-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
        }

    .smart-loader-five .spinner-cube-2 {
        -webkit-transform: scale(1.1) rotateZ(90deg);
        transform: scale(1.1) rotateZ(90deg);
    }

    .smart-loader-five .spinner-cube-3 {
        -webkit-transform: scale(1.1) rotateZ(180deg);
        transform: scale(1.1) rotateZ(180deg);
    }

    .smart-loader-five .spinner-cube-4 {
        -webkit-transform: scale(1.1) rotateZ(270deg);
        transform: scale(1.1) rotateZ(270deg);
    }

    .smart-loader-five .spinner-cube-2:before {
        -webkit-animation-delay: 0.3s;
        animation-delay: 0.3s;
    }

    .smart-loader-five .spinner-cube-3:before {
        -webkit-animation-delay: 0.6s;
        animation-delay: 0.6s;
    }

    .smart-loader-five .spinner-cube-4:before {
        -webkit-animation-delay: 0.9s;
        animation-delay: 0.9s;
    }

@-webkit-keyframes spinner-five {
    0%, 10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }

    25%, 75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }

    90%, 100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

@keyframes spinner-five {
    0%, 10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }

    25%, 75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }

    90%, 100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

/*--------------------------------------------------------------
 * Preloader Six
 *--------------------------------------------------------------
 */

.smart-loader-six {
    width: 70px;
    height: 70px;
    position: relative;
}

    .smart-loader-six .spinner-cube-1,
    .smart-loader-six .spinner-cube-2 {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #3498db;
        opacity: 0.6;
        position: absolute;
        top: 0;
        left: 0;
        -webkit-animation: spinner-six 2.0s infinite ease-in-out;
        animation: spinner-six 2.0s infinite ease-in-out;
    }

    .smart-loader-six .spinner-cube-2 {
        -webkit-animation-delay: -1.0s;
        animation-delay: -1.0s;
    }

@-webkit-keyframes spinner-six {
    0%, 100% {
        -webkit-transform: scale(0.0)
    }

    50% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes spinner-six {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }

    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

.smart-page-loader {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #fefefe;
    z-index: 100000;
}

.wp-smart-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    font-size: 10px;
    z-index: 100001;
}


.wp-smart-body {
    visibility: hidden;
}
/*--------------------------------------------------------------
 * Preloader Seven
 *--------------------------------------------------------------
 */

p, li, a, button, span, h5, h6 ,h3,h1,h2,h4 {
font-family: 'Jost', sans-serif;

}


/********* top-header *********/
.top-header {
    background-color: #00060c;
    padding: 5px 0;
}

.header-details-list li {
    list-style: none;
    color: #fff;
    padding: 0 25px 0 0;
}

.header-details-list {
    display: flex;
    margin: 0;
    padding: 0;
}

.header-details-list span {
    padding: 0px 10px 0px 10px;
}

.clearfix {
    padding: 0;
    display: flex;
    margin-bottom: 0px;
}

.clearfix li {
    list-style: none;
    padding: 0px 0 0 14px;
}

.clearfix i.fab.fa-facebook {
    background-color: white;
    color: black;
    padding: 5px 5px 0 5px;
    border-radius: 2px;
}

.clearfix i.fab.fa-twitter {
    background-color: white;
    color: black;
    padding: 3px 3px 2px 3px;
    border-radius: 2px;
}

.clearfix i.fab.fa-instagram {
    background-color: white;
    color: black;
    padding: 3px 3px 2px 3px;
    border-radius: 2px;
}

.clearfix i.fab.fa-linkedin-in {
    background-color: white;
    color: black;
    padding: 3px 3px 2px 3px;
    border-radius: 2px;
}

/********* mid-header *********/

.mid-header {
    background-color: #242e52;
    color: white;
    padding: 10px 0;
}

.header-para {
    font-size: 19px;
    font-style: italic;
}

.header-para span {
    float: right;
}

.header-details-list span {
    font-size: 13px;
}

.both-head {
        
    padding: 1em;
    display: flex;
    justify-content:space-between;
    transition: 2s ease-in-out;
  }
.brand-log {
margin: 0px;
display: flex;

}
.nav--open .brand-log {
left: -49px;
width: 50px;
height: 50px;
background: white;
text-align: center;
/* box-shadow: 3px 0px 11px 1px #000; */
position: absolute;
}
.header__button {
background: none;
outline: none;
border: none;
cursor: pointer;
}
  #mobile-title {
    list-style: none;
   }
#mobile-title li a {
    color: #000;
    font-size: 1rem;
    text-decoration: none;
    }
#mobile-title li {
       padding: 10px;
      border-bottom: 1px solid gray;
       }
        .m-header i.fa.fa-bars {
            font-size: 2.1rem;
        }

  .icons {
font-size: 27px;
float: right;
width: 100%;
text-align: center;
}
.brand-log h4 {
padding: 12px 0 0 0;
}
.m-header-logo h2 {
padding: 12px 0 0 0;
}

  .nav__links {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100vh;
    width: 70%;
    background: #ffffff;
    transform: translateX(150%);
    transition: transform 0.3s;
  }

  .nav--open .nav__links {
    transform: translateX(50%);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    z-index: 3;
  }

  .nav__link {
    display: flex;
    align-items: center;
    color: #666666;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    padding: 12px 15px;
    background: transform 0.2s;
  }

  .nav__link > i {
    margin-right: 15px;
  }

  .nav__link--active {
    color: #009578;
  }

  .nav__link--active,
  .nav__link:hover {
    background: #eeeeee;
  }

  .nav__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition-property: width;
    transition-duration: 0.75s;
    transition-timing-function: linear;
    background: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(2px);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
  }
  .m-header {
display: none;
}

  .nav--open .nav__overlay {
    visibility: visible;
    opacity: 0.8;
    z-index: 2;
  }
  .minsection {
position: relative;
z-index: 0;
}

.fa-bars::before {
    color: white;
}

/********* header *********/

.header {
    position: relative;
}

.header-flex {
    height: 80px;
    display: flex;
    align-items: center;
    position: relative;
}

#click {
    display: none;
}

.menu-btn i {
    color: #FFF;
    font-size: 22px;
    cursor: pointer;
    display: none;
}

.header-title {
    display: flex;
    list-style: none;
    margin: 0;
}

.header-title li {
    margin: 0 20px;
    padding: 0 40px 0 0;
}

.header-title>li .dropdown {
    position: relative;
    display: inline-block;
}

.header-title>li a:hover {
    color: #02499d;
}

.header-title>li .dropbtn {
    background-color: #fff;
    color: black;
    color: #000;
    font-size: 20px;
    font-weight: 500;
    border: none;
    text-decoration: none;
}

.header-title>li .dropbtn:hover {
    color: #02499d;
}

.header-title>li .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.header-title>li .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.header-title>li .dropdown-content a:hover {
    color: #02499d;
}

.header-title>li:hover .dropdown-content {
    display: block;
}

.header-title>li a:hover{
    color: #02499d;
}

.header-title .active a {
    color: #02499d;
}

.active a {
    color: #02499d;
}

.header-title li a {
    color: #000;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
}

/********* Section first *********/

.section-wellcome {
    background-image: url(https://buddhist-html.wrmlabs.com/images/banner.png);
    background-size: cover;
    background-position: center;
}

.section-wellcome-text {
    background-color: rgb(0 0 0 / 46%);
    padding: 40px;
    color: white;
    text-align: center;
}

.section-wellcome-text p {
    padding-bottom: 15px;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
}

.section-wellcome-text h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    padding-bottom: 15px;
}

.home-btn {
    padding: 10px;
}

.home-btn a {
    background-color: #02499d;
    color: #fff;
    text-decoration: none;
    padding: 15px 35px;
    font-size: 20px;
    border-radius: 5px;
    font-weight: 600;
}

.home-btn a:hover {
    text-decoration: none;
    color: #02499d !important;
    border: 1px solid #02499d !important;
    background-color: #ffffff00;
}

/********* Section core vision *********/

.section-core-vison::before {
    content: "";
    position: absolute;
    width: 100%;
    background-image: url(https://buddhist-html.wrmlabs.com/images/Rectangle8.png);
    top: 25%;
    bottom: 0;
    background-repeat: no-repeat;
    left: 0;
    right: 0;
}

.text-center {
    text-align: center !important;
}

.heading-con h2 {
    font-size: 40px;
    font-weight: 600;
}

.pt-30 {
    padding-top: 30px;
}

.core-body {
    padding: 0px 25px;
    padding-top: 50px;
}

@media (max-width: 768px) {
    .lotus {
        background-color: #02499d;
        margin-bottom: 20px;
        padding: 30px 30px;
        border-radius: 5px;
    }
}

.lotus {
    display: flex;
    background-color: #02499d;
    margin-bottom: 20px;
    padding: 30px 30px;
    border-radius: 5px;
    z-index: 1;

}

.lotus-img {
    background: #fff;
    border-radius: 100%;
    width: 100px;
    height: 100px;
}

@media (max-width: 992px) {
        .lotus-img img {
            vertical-align: middle;
            border-style: none;
            /* height: 100px; */
            background-color: white;
            border-radius: 50%;
        }
    }

.lotus-img img {
    width: 100px;
    padding: 10px;
}

@media (max-width: 992px){
        .lotus-text {
            padding: 5px 5px 0 25px;
            color: white;
        }
    }

.lotus-text {
    padding: 0px;
    color: white;
    padding-left: 25px;
}


/********* Section quote *********/
.home-quote {
    background-image: url(https://buddhist-html.wrmlabs.com/images/Rectangle10.png);
    background-size: cover;
    background-position: center;
}

.quote-text p {
    font-size: 35px;
    color: white;
    font-family: 'Dancing Script', cursive;
    font-style: normal;
    line-height: 60px;
    font-weight: 700;
}

.quote-text span {
    float: right;
    color: #ffe000;
    font-weight: 700;
    font-size: 24px;
}

/********* What we offer *********/

.offer-content {
    text-align: center;
    border-radius: 50%;
    box-shadow: 1px 1px 12px #0000004a;
    padding: 30px;
    margin-bottom: 50px;
}

.offer-content h4 {
    color: #95839E;
}

.offer-content p {
    margin-bottom: 0px;
    font-family: "josfin sans", sans-serif;
    margin-top: 0px;
}

.offer-img img {
    width: 100%;
}

/********* LATEST NEWS & BLOGS *********/

.latest {
    background: #02499d;
    color: white;
}

.owl-carousel {
    display: none;
    width: 100%;
    z-index: 1;
}

.latest-content {
    box-shadow: 0px 5px 19.53px 1.47px #0000004a;
    padding-bottom: 0px;
    margin-bottom: 15px;
    background: #fff;
}

.latest-img {
    padding: 10px;
}

.latest-text {
    padding: 0px 20px;
}

.latest-text a {
    text-decoration: none;
    color: black;
}

.latest-content span {
    color: #747474;
    font-size: 12px;
    letter-spacing: 0.5px;
}

.latest-content h6 {
    margin-top: 10px;
    font-size: 18px;
    padding: 0px;
}

.latest-content h6 a {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
}

.latest-content p {
    margin-bottom: 25px;
    font-size: 16px;
    font-weight: normal;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
}

.latest-btn {
    background-color: #02499d;
    color: #fff !important;
    text-decoration: none;
    padding: 10px 25px;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 15px;
    transition: all 0.3s linear;
    z-index: 1;
    overflow: hidden;
    position: relative;
    display: inline-block;
}

.latest-text a:hover {
    text-decoration: none;
    color: #02499d;
}

.latest-text a:hover {
    text-decoration: none;
    color: #02499d;
}

.latest-btn:hover:before {
    transform: translateX(0px);
    z-index: -1;
    transition: all 0.3s linear;
}

.latest-btn:before {
    content: "";
    top: 0;
    left: 0;
    background: #000;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    position: absolute;
    transition: all 0.3s linear;
}

.owl-nav.disabled {
    display: block !important;
}

.latest-news-blogs button img {
    width: 40px;
    padding: 5px 5px;
}

.latest-news-blogs button.owl-prev {
    background-color: #242422 !important;
    border-radius: 5px;
    width: 47px;
    height: 47px;
    margin-right: 10px;
}

.latest-news-blogs button.owl-next {
    background-color: #ffdb07 !important;
    border-radius: 5px;
    width: 47px;
    height: 47px;
}

.owl-dot {
    display: none;
}
